@model CitizenData.Web.Models.User

@{
    ViewData["Title"] = "Create";
}


<div class="row mb-4">
    <div class="col-md-6">
        <h1>Register Citizen</h1>
    </div>
    <div class="col-md-6 text-right">
        <a class="btn btn-secondary" asp-action="Index">Back to list</a>
    </div>
</div>
<hr />

@if (TempData["Message"] != null)
{
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-warning" role="alert" id="bootstrap-alert">
                @TempData["Message"]
            </div>
        </div>
    </div>
}

<div class="container">
    <form asp-controller="Users" asp-action="Create" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="GivenName" class="control-label"></label>
                    <input asp-for="GivenName" class="form-control" />
                    <span asp-validation-for="GivenName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Surname" class="control-label"></label>
                    <input asp-for="Surname" class="form-control" />
                    <span asp-validation-for="Surname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Age" class="control-label"></label>
                    <input asp-for="Age" type="number" class="form-control" />
                    <span asp-validation-for="Age" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DOB" class="control-label"></label>
                    <input asp-for="DOB" class="form-control" id="txtSelectedDate"/>
                    <span asp-validation-for="DOB" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md">

                <div class="form-group">
                    <label asp-for="Address" class="control-label"></label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Occupation" class="control-label"></label>
                    <input asp-for="Occupation" class="form-control" />
                    <span asp-validation-for="Occupation" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <label class="control-label">Select Profile Photo</label>
                <div class="custom-file mb-3">
                    <input type="file" class="custom-file-input" asp-for="FormFile" id="CustomFile">
                    <label class="custom-file-label" for="CustomFile">Choose file...</label>
                    <p class="small text-muted">File formats .jpg .png .jpeg .bmp</p>
                    <span asp-validation-for="FormFile" class="text-danger"></span>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </form>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
